%select{:name => "tags", :id=>"tags"}
  - @tags.each do |tag|
    %option{:value => "#{tag}"}= tag
- @track_id = 2475788903
%div{:style=>"margin-top:20px; border:2px solid #ddd; padding:15px; padding-bottom:10px; padding-right:0px; background-color:white; width:410px;"}
  %iframe{ :src => "http://bandcamp.com/EmbeddedPlayer/v=2/track=#{@track_id}/size=venti/bgcol=FFFFFF/linkcol=4a4a4a/", :width=>"400", :height=>"100", :allowtransparency=>"true", :frameborder=>"0" }

:javascript
  $(document).ready(function() {
    $('#tags').chosen();
    $("select").change(function () {
      $("select option:selected").each(function () {
        var tag = $(this).text();
        alert(tag);
        $.ajax({
          url: '/tag/' + tag,
          type: 'get',
          dataType: 'json',
          processData: false,
          success: function (data) {
            if (data == "") {
              alert(tag);
            } else {
              alert(tag);
            }
          }
        });
      });
    });
  }); 


